{{ template "theme/partials/header.html" . }}

			<div class="posts">
				<h1 class="content-subhead">Recent Posts</h1>

				{{ range first 10 .Data.Pages }}
				<section class="post">
					<header class="post-header">
							<img class="post-avatar" alt="Tilo Mitra&#x27;s avatar" height="48" width="48" src="{{ .Params.author.photo }}">
							<h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>

							<p class="post-meta">
							By <a href="{{ .Params.author.link }}" class="post-author">{{ .Params.author.name }}</a>
							</p>
					</header>

					<div class="post-description">
						<p>{{ .Summary }}</p>
					</div>
				</section>
				{{ end }}
			</div>

{{ template "theme/partials/footer.html" }}