<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ .Site.Params.description }}">
	<meta name="author" content="{{ .Site.Params.author }}"> 
	<title>{{ .Title }}</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="shortcut icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="shortcut icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link href="/reset.css" rel="stylesheet">
	<link href="/style.css" rel="stylesheet">
	{{- if ne .Site.HomeAbsURL "http://localhost:1313/" }}
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-KVGGDZ7');</script>
	<!-- End Google Tag Manager -->
	{{ end }}
</head>
<body
	data-site-id="{{ .Site.Title | urlize }}"
	data-page-id="{{ .Page.UniqueID }}"
	data-page-kind="{{ .Page.Kind }}"
	data-page-file="{{ .Page.File.TranslationBaseName }}"
	data-page-dir="{{ .Page.Dir }}">

	{{- if ne .Site.HomeAbsURL "http://localhost:1313/" }}
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KVGGDZ7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	{{ end }}

	<header>
		<div>
			<div class="logo">
				<a href="/">
					<img src="/logo.svg" style="width: 135px;" />
				</a>
			</div>
			<ul>
				<li>
					<a href="https://drone.io/enterprise">Enterprise</a>
				</li>
				<li>
					<a href="https://github.com/drone">Community</a>
				</li>
				<li>
					<a href="http://docs.drone.io">Documentation</a>
				</li>
				<li>
					<a href="https://drone.io" target="_blank" class="goto">
						Learn More
						<svg style="width:24px;height:24px;margin-left:12px;transform:rotate(180deg);" viewBox="0 0 24 24">
							<path fill="#000000" d="M21,11H6.83L10.41,7.41L9,6L3,12L9,18L10.41,16.58L6.83,13H21V11Z"></path>
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</header>
	<aside>
		<div>
			<ul>
				<li>Categories</li>
				{{ range .Site.Menus.tags }}
				<li>
					<a href="{{ .URL }}">{{ .Name }}</a>
				</li>
				{{ end }}
			</ul>
		</div>
	</aside>
	
	<main>
		<article>
			<header>
				<h1>{{ .Title }}</h1>
				<div>
					<address>
						<a rel="author" href="https://twitter.com/{{ .Params.author }}" target="_blank">
							{{ .Params.author }}
						</a>
					</address> 
					<time>{{ dateFormat "January 2, 2006" .Date }}</time>
				</div>
			</header>
			{{ if .Params.image }}
			<img src="{{ .Params.image }}" data-path="{{ .Params.image }}" />
			{{ end }}
			<div>
				{{ .Content }}
			</div>
		</article>
	</main>

	<footer>
		<div>
			{{ .Site.Copyright }}
		</div>
	</footer>
</body>
</html>