
				<!-- BEGIN FOOTER -->
				<div class="footer">
					<div class="pure-menu pure-menu-horizontal pure-menu-open">
						<ul>
							<li><a href="https://github.com/drone/">GitHub</a></li>
							<li><a href="http://readme.drone.io/">Documentation</a></li>
							<li><a href="https://twitter.com/droneio/">Twitter</a></li>
							<li><a href="https://gitter.im/drone/drone">Gitter</a></li>
							<li><a href="https://discuss.drone.io/">Discussion</a></li>
						</ul>
					</div>
				</div>
				<!-- END FOOTER -->

			</div>
		</div>
		<!-- END CONTENT -->
	</div>

	<!-- START BADGE -->
	<div class="github-fork-ribbon-wrapper">
		<div class="github-fork-ribbon">
			<a href="https://github.com/drone/drone">Fork me on GitHub</a>
		</div>
	</div>

</body>
</html>
